<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%- include('./navbar.ejs') %>
    <form action="/addproduct" method="post" style="width: 70%; padding: 20px; margin: auto; background-color: antiquewhite;">
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">title</label>
          <input type="text" name="title" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">price</label>
          <input type="number" name="price" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">image</label>
            <input type="url" name="image" class="form-control" id="exampleInputPassword1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">description</label>
            <input type="text" name="description" class="form-control" id="exampleInputPassword1">
          </div>
        <div class="mb-3 form-check">
          <label class="form-check-label" for="exampleCheck1">Check me out</label>
          <select class="form-select" name="category" aria-label="Default select example">
            <option selected>Open this select menu</option>
            <option value="women's clothing">women's clothing</option>
            <option value="electronics">electronics</option>
            <option value="jewelery">jewelery</option>
            <option value="men's clothing">men's clothing</option>
        </select>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
     
</body>
</html>